:global {
  body[data-theme='light'] {
    --ucard-bg: var(--white);
    --bio-color: var(--gray-200);
    --ucard-shadow: var(--shadow);
  }

  body[data-theme='dark'] {
    --ucard-bg: var(--gray-400);
    --bio-color: var(--white);
    --ucard-shadow: unset;
  }
}

.avatar {
  border-radius: 50%;
  max-width: 100%;
}
